@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Poiret+One&display=swap");
/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Poiret One', cursive; 
*/
* {
  margin: 0;
  padding: 0;
}
#image {
  width: 100%;
  position: fixed;
  z-index: -1;
  filter: blur(0.2rem);
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #394867;
  display: inline-flex;
  color: #fefefe;
  align-items: center;
}
header div {
  position: absolute;
  margin-left: 20px;
}
header p {
  font-family: "Poiret One", cursive;
  font-size: larger;
  font-weight: 500;
}
header p span {
  font-family: "Cormorant Garamond", serif;
  font-weight: lighter;
  margin-left: 1px;
  color: #9ba4b5;
}
header ul {
  list-style: none;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
header ul li {
  font-family: "Poiret One", cursive;
}
header ul li a {
  color: #fefefe;
  cursor: pointer;
  transition: 0.2s;
}
header ul li a:hover {
  color: #9ba4b5;
}
#section1 {
  margin-top: 50px;
}
section h2 {
  font-family: "Poiret One", cursive;
}
section p {
  width: 40%;
  margin-top: 40px;
  font-weight: 600;
}
section:nth-child(2n + 1) p {
  background-color: #f1f6f92c;
  border: solid #f1f6f905 15px;
  border-radius: 10px;
}
section {
  font-family: "Cormorant Garamond", serif;
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
section:nth-child(2n + 2) {
  background-color: #f1f6f9;
}
section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section ul li span {
  color: black;
}
#comentarios {
  height: fit-content;
}
input[type="text"] {
  height: 30px;
  width: 250px;
  background-color: #f1f6f92c;
  border: 2px solid #f1f6f905;
  border-radius: 200px;
  outline: 0;
  padding-left: 10px;
  font-family: "Cormorant Garamond", serif;
}
input[type="text"]::placeholder {
  color: black;
  font-family: "Cormorant Garamond", serif;
  user-select: none;
}
#env {
  cursor: pointer;
  border-radius: 30px;
  height: 30px;
  width: 50px;
  background-color: #f1f6f9;
  border: 2px solid #f1f6f9;
  outline: 0;
}
#comentarios p {
  word-wrap: break-word;
}
